// User variables:
$body-font:    400 20px / 1.5 'LatoRegular', sans-serif
$accent:       #01996d
$container-mw: 1400
$s-padd:       50px 0

// Bootstrap variables:
$body-color:       #424242
$body-bg:          #fff
$primary:          #245852
$seconadry:        #484848
$link-color:       $accent
$link-decoration:  none
$link-hover-color: darken($link-color, 7)
