// Header:
.header
  &__inner
    display: flex
    align-items: center
  &__nav-link
    font-family: 'LatoSemibold'
    color: $black
  &__trial-link
    margin-right: 25px
    color: $black

// Media queries:
+maxw-991()
  .header
    position: relative
    top: 0
    left: 0
    width: 100%
    z-index: 100
    &::after
      content: ''
      position: absolute
      top: 0
      left: 0
      z-index: 5
      width: 100%
      height: 100%

      background-color: $white
    &.is-active
      position: fixed
    &__inner
      justify-content: space-between
      height: 60px
    &__logo
      position: relative
      z-index: 10
    &__nav
      display: none
      position: fixed
      top: 0
      left: 0

      width: 100%
      height: 100%
      padding: 140px 10px 50px

      overflow-y: auto
      -webkit-overflow-scrolling: touch

      text-align: center
      background-color: $primary
    &__nav-item
      margin-bottom: 30px
      &:last-child
        margin-bottom: 70px
    &__nav-link
      font-size: 25px
      color: $white
      &:hover
        color: $white
    &__trial
      display: none
      &--nav
        display: block
      &-link, &-link:hover
        color: $white

+minw-992()
  .header
    &__inner
      height: 85px
    &__logo
      flex: 0 0 15%
    &__nav
      display: block !important
      flex: 1 0 auto
      padding:
        right: 15px
        left: 15px
    &__nav-list
      display: flex
    &__nav-item
      position: relative
      &:not(:last-child)
        margin-right: 30px
      ._no-touch &::before, &::after
        content: ''
        position: absolute
        left: 0

        width: 100%
        height: 3px

        background-color: $accent
        transform: scaleX(0)
        +trs(all, .25s)
      ._no-touch &::before
        top: -3px
        transform-origin: right
      ._no-touch &::after
        bottom: -5px
        transform-origin: left
      ._no-touch &:hover::before, ._no-touch &:hover::after
        transform: scaleX(1)
      ._touch &:hover::before, ._touch &:hover::after
        transform: scaleX(0)
    ._touch &__nav-link, ._touch &__trial-link
      color: $black
    &__trial--nav
      display: none

+minw-1200()
  .header
    &__logo
      flex: 0 0 17%
    &__nav-item:not(:last-child)
      margin-right: 70px
